.App {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  width: 100%;

  .Header, .Footer {
    padding: 12px;
    height: 48px;
    display: flex;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}