.App {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  width: 100%;
  position:relative;

  .Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 48px;
    display: flex;
    padding: 12px;
    z-index: 10;
  }

  .pc-container {
    margin-top: 24px;
    margin-bottom: 24px;
    position: fixed;
    top: 2em;
    width: 100vw;
    height: calc(100vh - 4em);
    overflow-y: scroll;
    overflow-x: scroll;
    z-index: 10;
  }

  .Footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 12px;
    height: 48px;
    display: flex;
    z-index: 10;
  }
}

// ::-webkit-scrollbar {
//   width: 12px;
//   overflow-x: scroll;
// }

// ::-webkit-scrollbar-thumb {
//   background: gray;
//   border-radius: 10px;
// }


::-webkit-scrollbar {

  width: 7px;

}

::-webkit-scrollbar-button {

  background: transparent;

  border-radius: 4px;

}

::-webkit-scrollbar-track-piece {

  background: transparent;

}

::-webkit-scrollbar-thumb {

  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.4);

  border: 1px solid slategrey;

}

::-webkit-scrollbar-track {

  box-shadow: transparent;

}